/* CSS is used here to make the select box fits the whole text */
.custom-select {
    width: fit-content;
}

nav form button {
    margin: 10px;
}

h2 {
    margin: 10px;
}

#userInfo {
    float: right;
    color: #ffffff;
}