<!DOCTYPE HTML>
<html lang = "en">
<head>
  <title>Movie Ticket booker</title>
  <meta charset = "UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
<style>
  .custom-select {
    width: fit-content;
  }
</style>
</head>
<body>
  <nav class="navbar navbar-dark bg-dark justify-content-between">
    <a class="navbar-brand mb-0 h1" href="/">Village Cinemas</a>
    <form class="form-inline" id="formButtons">
      <a href="/login"><button class="btn btn-outline-primary" type="button">Login</button></a>
      <a href="/register"><button class="btn btn-outline-success" type="button">Register</button></a>
    </form>
    <form class="form-inline d-none" id="userButtons">
      <a href="/view/bookings"><span class="nav-item nav-link" id="userInfo"></span></a>
      <button class="btn btn-outline-danger" id="logoutButton" type="button">Logout</button>
    </form>
  </nav>
  <div class="container text-center">
    <h2>
      Village Cinemas
    </h2>
    <div id="alertMessage" class="alert alert-warning d-none" role="alert">
    </div>
    <div class="card">
      <div class="card-body">
        <form>
          <div class="form-group row">
            <label for="idInput" class="col-2 col-form-label">Booking ID</label>
            <div class="col-10">
              <input class="form-control" type="text" id="idInput">
            </div>
          </div>
          <div class="form-group row">
            <label for="nameInput" class="col-2 col-form-label">Name</label>
            <div class="col-10">
              <input class="form-control" type="text" id="nameInput" readonly="readonly">
            </div>
          </div>
          <div class="form-group row">
            <label for="showSelect" class="col-2 col-form-label">Select Show</label>
            <div class="col-1">
              <select class="custom-select" id="showSelect" disabled="disabled">
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="datePick" class="col-2 col-form-label">Date: </label>
            <div class="col-3">
              <input class="form-control" type="date" id="datePick" value="" readonly="readonly">
            </div>
          </div>
          <br>
          <h6>Tickets</h6>
          <br>
          <div class="form-group row">
            <label for="adultTicketInput" class="col-2 col-form-label">Adult Tickets (@$12)</label>
            <div class="col-10">
              <input class="form-control" type="number" id="adultTicketInput" placeholder="1" min="1" readonly="readonly">
            </div>
          </div>
          <div class="form-group row">
            <label for="childTicketInput" class="col-2 col-form-label">Child Tickets (@$8)</label>
            <div class="col-10">
              <input class="form-control" type="number" id="childTicketInput" placeholder="0" min="0" readonly="readonly">
            </div>
          </div>
          <br>
          <h6 class="d-none" id="categoryText">Category</h6>
          <br>
          <div class="btn-group btn-group-toggle d-none" id="discountGroups" data-toggle="buttons">
            <label class="btn btn-outline-secondary" id="superButton">
              <input type="radio" name="options" autocomplete="off" id="super"> Super Tuesday
            </label>
            <label class="btn btn-outline-secondary" id="maniteeButton">
              <input type="radio" name="options" autocomplete="off" id="manitee"> Manitee Discount
            </label>
            <label class="btn btn-outline-secondary" id="concessionButton">
              <input type="radio" name="options" autocomplete="off" id="concession"> Concession Card
            </label>
            <label class="btn btn-outline-secondary" id="noneButton">
              <input type="radio" name="options" autocomplete="off" id="none" checked> None
            </label>
          </div>
          <br>
          <br>
          <div class="form-group row">
            <label for="invoiceAmount" class="col-2 col-form-label">Invoice Amount</label>
            <div class="col-10">
              <input class="form-control" type="text" id="invoiceAmount" placeholder="$0.00" readonly="readonly">
            </div>
          </div>
          <br>
          <br>
          <div class="container text-center">
            <button class="btn btn-outline-secondary" type="button" id="updateButton">Update</button>
          </div>
          <br>
          <div class="container text-center">
            <a href="/"><button class="btn btn-outline-primary" type="button">Back</button></a>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
<script src="{{url_for('static', filename='js/update.js')}}"></script>
</html>